<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <h2>Sprint 2 - Tutorials project</h2>
    <p>In this sprint we developed a tutorials project using technologies such as: Node, Mongo, Express, Javascript. We learned about git and github to have a repository and version control</p>
    <p>
      Developers :
      <ul>
        <li>Norma Illescas</li>
        <li>Luis Perez</li>
        <li>Gibran Mendez</li>
      </ul>
    </p>
    <p>
      Mentor :
      <ul>
        <li>Irving Espiritu.</li>
      </ul>
    </p>
  </div>
</section>